<div class="page-header">
  <h3>Profile #<%= @profile.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Chessplayer</dt>
      <dd>
        <% if @profile.chessplayer.present? %>
          <a href="/chessplayers/<%= @profile.chessplayer_id %>">
            <%= @profile.chessplayer.id %>
          </a>
        <% end %>
      </dd>

      <dt>Profile photo</dt>
      <dd><img src="<%= @profile.profile_photo %>" class="img-responsive"></dd>

      <dt>Summary</dt>
      <dd><%= @profile.summary %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/profiles" class="btn btn-primary">
        Back
      </a>
      <a href="/profiles/<%= @profile.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_profile/<%= @profile.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Profile has many profiledetails -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Profiledetails
      </li>

      <% @profile.profiledetails.each do |profiledetail| %>
        <li class="list-group-item">
          <a href="/profiledetails/<%= profiledetail.id %>">
            <%= profiledetail.events %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/profiledetails/<%= profiledetail.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/profiledetails/<%= profiledetail.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_profiledetail/<%= profiledetail.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_profiledetail" method="post" enctype="multipart/form-data">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for profiles_id -->
      <div class="form-group">
        <label for="profiles_id" class="control-label">
          Profiles
        </label>

        <%= select_tag(:profiles_id, options_from_collection_for_select(Profile.all, :id, :summary), :class => "form-control") %>
      </div>

      <!-- Label and input for photo -->
      <div class="form-group">
        <label for="photo" class="control-label">
          Photo
        </label>

        <input type="file" id="photo" name="photo" class="form-control">
      </div>

      <!-- Label and input for events -->
      <div class="form-group">
        <label for="events" class="control-label">
          Events
        </label>

        <input type="text" id="events" name="events" placeholder="Events" class="form-control" value="">
      </div>

      <!-- Label and input for comment -->
      <div class="form-group">
        <label for="comment" class="control-label">
          Comment
        </label>

        <input type="text" id="comment" name="comment" placeholder="Comment" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Profiledetail
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
