<div class="page-header">
  <h1>
    Profiledetails
    <a href="/profiledetails/new" class="btn btn-lg btn-success">New Profiledetail</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => collapse_search_form, :id => "profiledetails_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
    <%= f.label :events_cont, "Events contains" %>
    <%= f.text_field :events_cont, :class => "form-control", :placeholder => "Events contains" %>
  </div>

<div class="form-group">
    <%= f.label :comment_cont, "Comment contains" %>
    <%= f.text_field :comment_cont, :class => "form-control", :placeholder => "Comment contains" %>
  </div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
      <%= f.label :profiles_summary_cont, "Profile summary contains" %>
      <%= f.text_field :profiles_summary_cont, :class => "form-control", :placeholder => "Profile summary contains" %>
    </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/profiledetails" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#profiledetails_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Profiles</th>
        <th>Photo</th>
        <th>Events</th>
        <th>Comment</th>
        <th>Actions</th>
      </tr>

      <% @profiledetails.each do |profiledetail| %>
      <tr>
        <td>
          <% if profiledetail.profiles.present? %>
            <a href="/profiles/<%= profiledetail.profiles.id %>">
              <%= profiledetail.profiles.summary %>
            </a>
          <% end %>
        </td>
        <td><img src='<%= profiledetail.photo %>' class='img-responsive'></td>
        <td><%= profiledetail.events %></td>
        <td><%= profiledetail.comment %></td>
        <td>
          <a href="/profiledetails/<%= profiledetail.id %>" class="btn btn-primary">Show</a>
          <a href="/profiledetails/<%= profiledetail.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_profiledetail/<%= profiledetail.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @profiledetails, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
