<div class="page-header">
  <h3>Profiledetail #<%= @profiledetail.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Profiles</dt>
      <dd><%= @profiledetail.profiles_id %></dd>

      <dt>Photo</dt>
      <dd><%= @profiledetail.photo %></dd>

      <dt>Events</dt>
      <dd><%= @profiledetail.events %></dd>

      <dt>Comment</dt>
      <dd><%= @profiledetail.comment %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/profiledetails" class="btn btn-primary">
        Back
      </a>
      <a href="/profiledetails/<%= @profiledetail.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_profiledetail/<%= @profiledetail.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
