<div class="page-header">
  <h3>Chessplayer #<%= @chessplayer.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @chessplayer.user.present? %>
          <a href="/users/<%= @chessplayer.user_id %>">
            <%= @chessplayer.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>First name</dt>
      <dd><%= @chessplayer.first_name %></dd>

      <dt>Last name</dt>
      <dd><%= @chessplayer.last_name %></dd>

      <dt>Dob</dt>
      <dd><%= @chessplayer.dob %></dd>

      <dt>Gender</dt>
      <dd><%= @chessplayer.gender %></dd>

      <dt>Uscf</dt>
      <dd><%= @chessplayer.uscf_id %></dd>

      <dt>Uscf title</dt>
      <dd><%= @chessplayer.uscf_title %></dd>

      <dt>Uscf rating</dt>
      <dd><%= @chessplayer.uscf_rating %></dd>

      <dt>Fide</dt>
      <dd><%= @chessplayer.fide_id %></dd>

      <dt>Fide title</dt>
      <dd><%= @chessplayer.fide_title %></dd>

      <dt>Fide rating</dt>
      <dd><%= @chessplayer.fide_rating %></dd>

      <dt>Federation</dt>
      <dd><%= @chessplayer.federation %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/chessplayers" class="btn btn-primary">
        Back
      </a>
      <a href="/chessplayers/<%= @chessplayer.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_chessplayer/<%= @chessplayer.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Chessplayer has many comments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Comments
      </li>

      <% @chessplayer.comments.each do |comment| %>
        <li class="list-group-item">
          <a href="/comments/<%= comment.id %>">
            <%= comment.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/comments/<%= comment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/comments/<%= comment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_comment/<%= comment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_comment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email), :class => "form-control") %>
      </div>

      <!-- Label and input for chessplayer_id -->
      <input type="hidden" name="chessplayer_id" value="<%= @chessplayer.id %>">

      <!-- Label and input for content -->
      <div class="form-group">
        <label for="content" class="control-label">
          Content
        </label>

        <textarea id="content" name="content" placeholder="Content" class="form-control" rows="3"></textarea>
      </div>

      <button class="btn btn-block btn-success">
        Create Comment
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
